/* DARKMODE */
* {
    transition: background .5s;
}

body.darkMode {
    background-color: #222;
    color: #fff;
}

section.darkMode {
    background-color: #333;
}

.menus.on.darkMode {
    background-color: #333;
    color: #fff;
}

.menus.on.darkMode #one,
.menus.on.darkMode #two,
.menus.on.darkMode #three {
    background-color: #fff;
}